<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simit.mapper.RoutesMapper">
  <resultMap id="BaseResultMap" type="com.simit.entity.Routes">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="route_id" jdbcType="VARCHAR" property="routeId" />
    <result column="route_uri" jdbcType="VARCHAR" property="routeUri" />
    <result column="route_order" jdbcType="INTEGER" property="routeOrder" />
    <result column="is_ebl" jdbcType="BIT" property="isEbl" />
    <result column="is_del" jdbcType="BIT" property="isDel" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.simit.entity.Routes">
    <result column="predicates" jdbcType="LONGVARCHAR" property="predicates" />
    <result column="filters" jdbcType="LONGVARCHAR" property="filters" />
  </resultMap>
  <sql id="Base_Column_List">
    id, route_id, route_uri, route_order, is_ebl, is_del, create_time, update_time
  </sql>
  <sql id="Blob_Column_List">
    predicates, filters
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gateway_routes
    where id = #{id,jdbcType=BIGINT}
  </select>

  <!-- 获取所有已启用、未删除的路由信息 -->
  <select id="getRoutes" parameterType="com.simit.entity.Routes" resultMap="ResultMapWithBLOBs">
    select
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from gateway_routes
    where true
    <if test="isDel != null">
      and is_del=#{isDel,jdbcType=BIT}
    </if>
    <if test="isEbl != null">
      and is_ebl=#{isEbl,jdbcType=BIT}
    </if>
    order by update_time desc
  </select>
  
  <update id="deleteByPrimaryKey">
    update gateway_routes set is_del=#{isDel,jdbcType=BIT} where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="enableById">
    update gateway_routes set is_ebl= #{isEbl,jdbcType=BIT} where id = #{id,jdbcType=BIGINT}
  </update>
  <insert id="insert" parameterType="com.simit.entity.Routes">
    insert into gateway_routes (id, route_id, route_uri, 
      route_order, is_ebl, is_del, 
      create_time, update_time, predicates, 
      filters)
    values (#{id,jdbcType=BIGINT}, #{routeId,jdbcType=VARCHAR}, #{routeUri,jdbcType=VARCHAR}, 
      #{routeOrder,jdbcType=INTEGER}, #{isEbl,jdbcType=BIT}, #{isDel,jdbcType=BIT},
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}, #{predicates,jdbcType=LONGVARCHAR}, 
      #{filters,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.simit.entity.Routes">
    insert into gateway_routes
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="routeId != null">
        route_id,
      </if>
      <if test="routeUri != null">
        route_uri,
      </if>
      <if test="routeOrder != null">
        route_order,
      </if>
      <if test="isEbl != null">
        is_ebl,
      </if>
      <if test="isDel != null">
        is_del,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
      <if test="predicates != null">
        predicates,
      </if>
      <if test="filters != null">
        filters,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="routeId != null">
        #{routeId,jdbcType=VARCHAR},
      </if>
      <if test="routeUri != null">
        #{routeUri,jdbcType=VARCHAR},
      </if>
      <if test="routeOrder != null">
        #{routeOrder,jdbcType=INTEGER},
      </if>
      <if test="isEbl != null">
        #{isEbl,jdbcType=BIT},
      </if>
      <if test="isDel != null">
        #{isDel,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="predicates != null">
        #{predicates,jdbcType=LONGVARCHAR},
      </if>
      <if test="filters != null">
        #{filters,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.simit.entity.Routes">
    update gateway_routes
    <set>
      <if test="routeId != null">
        route_id = #{routeId,jdbcType=VARCHAR},
      </if>
      <if test="routeUri != null">
        route_uri = #{routeUri,jdbcType=VARCHAR},
      </if>
      <if test="routeOrder != null">
        route_order = #{routeOrder,jdbcType=INTEGER},
      </if>
      <if test="isEbl != null">
        is_ebl = #{isEbl,jdbcType=BIT},
      </if>
      <if test="isDel != null">
        is_del = #{isDel,jdbcType=BIT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="predicates != null">
        predicates = #{predicates,jdbcType=LONGVARCHAR},
      </if>
      <if test="filters != null">
        filters = #{filters,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.simit.entity.Routes">
    update gateway_routes
    set route_id = #{routeId,jdbcType=VARCHAR},
      route_uri = #{routeUri,jdbcType=VARCHAR},
      route_order = #{routeOrder,jdbcType=INTEGER},
      is_ebl = #{isEbl,jdbcType=BIT},
      is_del = #{isDel,jdbcType=BIT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>