<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.simit.mapper.VersionMapper">
    <resultMap id="BaseResultMap" type="com.simit.entity.Version">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="create_time" jdbcType="TIMESTAMP" property="createTime"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, create_time
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dynamic_version
        where id = #{id,jdbcType=BIGINT}
    </select>

    <select id="getLastVersion" resultType="java.lang.Long">
    select max(id) from dynamic_version
  </select>

    <select id="listAll" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from dynamic_version
        order by id desc
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from dynamic_version
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.simit.entity.Version">
    insert into dynamic_version (id, create_time)
    values (#{id,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.simit.entity.Version"
            useGeneratedKeys="true" keyColumn="id" keyProperty="id">
        insert into dynamic_version
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.simit.entity.Version">
        update dynamic_version
        <set>
            <if test="createTime != null">
                create_time = #{createTime,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.simit.entity.Version">
    update dynamic_version
    set create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>